body,
figure.interactive {
    margin: 0;
    padding: 0;
}



.interactive-container {
    margin: 0 auto;
    background-color: white;
    
    &,* {
        box-sizing: border-box;
    }

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    // Link styles don't exist on the app
    a {
        &,
        &:hover,
        &:active {
            color: #005689;
        }

        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .notes {
        //padding-top:40px;
        padding-bottom:40px;
        @include fs-textSans(1);
        color:#333;
    }
}
