.linechart {
	svg {
		width:100%;
		height:150px;
		
		.countries {
			.country {
				path {
					fill:none;
					stroke:#bdbdbd;
					stroke-width:1;
				}
				path.area {
					fill:#69d1ca;
					fill-opacity:0.25;
					stroke:none;
				}
				circle {
					stroke:none;
					fill:#333;
					&.last {
						fill:none;
					}
				}
				text {
					@include fs-textSans(1);
					visibility: hidden;
					font-weight:bold;
					text-anchor:end;
				}
				&.selected {
					path {
						stroke:$nhs;
						stroke-width:2;	

					}
					circle.last {
						fill:$nhs;
					}
					text {
						fill:#000;
						visibility: visible;
					}
				}
				
				&.lighter {
					path {
						stroke-width:1;
						stroke:$lightgray;
					}
					circle {
						fill:$lightgray;
						&.last {
							fill:none;
						}
					}
				}
				&.top {
					path {
						stroke:$nhs3;
						stroke-width:2;	

					}
					circle.last {
						fill:$nhs3;
					}
					text {
						fill:#000;
						visibility: visible;
					}
				}
				&.highlight {
					text {
						visibility: visible;	
					}
					path {
						stroke:$nhs2;
						stroke-width:2;
						&.area {
							stroke:none;
						}
					}
					circle {
						fill:$nhs2;
						stroke:$nhs2;
						stroke-width:1;
						&.last {
							fill:$nhs2;
						}
					}
				}
				&.selected-country {
					path {
						stroke:none;
					}

				}
			}
			
		}

		.axes {
			.axis {
				path,line {
					fill:none;
					shape-rendering: crispEdges;
					stroke:#bbb;
				}
				path {
					//display: none;
				}
				&.x,
				&.y {
					path {
						display: none;
					}
				}

				.tick {
					line {
						//display: none;
					}
					text {
						//display: none;
					}
				}

				&.y {
					.tick {
						line {
							stroke:#767676;
							stroke-dasharray: 1,1;
							visibility: hidden;
							&.visible {
								visibility: visible;
							}
						}
						text {
							text-anchor:start !important;
						}
					}
				}
				&.x {
					line {
						stroke:#bbb;
					}
					line.zero {
						stroke:#bbb;
					}
					.tick:first-child {
						text {
							text-anchor:start !important;
						}
					}
					.tick:nth-last-child(3) {
						text {
							//text-anchor:end !important;
						}
					}
				}
				.tick.main {
					text {
						display: block;
					}
				}
				text {
					fill: #767676;
					@include fs-textSans(1);
					font-size: 11px;
					text-anchor:middle;
				}
				.tick.last-tick {
					text {
						text-anchor:start !important;
					}
				}
				
			}
		}

		.voronoi {
			path {
				fill-opacity:0;
				stroke:none;
				stroke-width:0;
			}
			circle {
				fill:#000;
				stroke:none;
			}
		}

	}
}