#NHSComparison {
	max-width:620px;
	width:100%;
	min-height:100px;
	color:#333;

	.embed & {
		padding-bottom:10px;
		border-bottom:1px solid #dcdcdc;
		margin-bottom:20px;
	}

	.smallmultiples {
		width:100%;
		overflow: hidden;
		.chart {
			float:left;
			//border:1px solid #ddd;
			width:calc(50% - 10px);
			margin:5px;
			margin-bottom:30px;
			@include mq(tablet) {
				width:calc(33% - 10px);
			}
			h4 {
				min-height: 35px;
				font-size:14px;
				line-height: 16px;
				margin-bottom:5px;
				@include mq(tablet) {
					min-height: 35px;
					font-size:14px;
					line-height: 16px;
				}
				text-align:left;
				padding-left:5px;

				b {
					color:#0bada5;
				}
			}
			p {
				@include fs-textSans(1);
				padding-left:5px;
				margin-top:0;
				display: block;
				min-height:35px;
				color:#767676;
			}
		}
	}
}