@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";
@import "nhs_comparison";
@import "linechart";

html,
body {
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
}

.interactive-embed {
}
